#events-container {
  margin: 1.5rem;
}

#events-heading {
  padding-bottom: 1.5rem;
  text-align: center;
}

#events-filters {
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: center;
  padding: 1rem 0;
}

.events-filter, #btn-filters-apply {
  margin: 1rem;
  width: 150px;
}

#events-content {
  padding-top: 1.5rem;
}

#events {
  grid-template-columns: repeat(auto-fill, 200px);
  justify-items: start;
}

.cell {
  position: relative;
  text-align: center;
  border-radius: 10px;
}

.image {
  width: 180px;
}

.cell .event-caption {
  padding: 5px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  border: 1px solid #dbdbdb;
  bottom: 10px;
  width: 160px;
  left: 10px;
}

.cell:hover {
  box-shadow: 0 0 10px #808080;
  transition: 0.5s;
}

.event-caption .subtitle {
  margin-bottom: 0;
  font-size: 0.75rem;
  max-width: 148px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
